.content {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.522);
    width: 100%;
    max-width: 800px;
    margin: auto;
    animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}
.form-group {
    margin:1rem;
    display: flex;
    align-items: center;
    font-size: 20px;
}

label {
    font-weight: bold;
    color: #404040;
    margin-right: 100px;
    min-width: 150px;
}


.info-field {
    display: inline-block;
    padding: 5px;
    font-size: 18px;
    cursor: not-allowed;
}
button {
    width: 100%;
    max-width: 140px;
    padding: 0.3rem;
    background: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.5rem auto;
}
button:hover {
    background: #066fbe;
    transform: translateY(-3px);
}
.button-group {
    text-align: right;
}
