<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoServices-About</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-..."
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/footer.css">
    <!-- <link rel="stylesheet" href="../reset.css"> -->
    <link rel="stylesheet" href="../css/about.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo-container">
        <a href="/laptrinhweb/AutoServices/" class="back-home-btn"><i class="ri-arrow-left-circle-line"></i></a>
        <div class="logo">Giới thiệu</div>
      </div>
      <nav class="navbar">
        <h1 class="brand-name">AutoServices - About</h1>
        <ul class="nav-links">
          <li><a href="/laptrinhweb/AutoServices/">TRANG CHỦ</a></li>
          <li><span class="separator">/</span></li>
          <li><a href="#" class="active">GIỚI THIỆU</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="banner">
        <img
          class="img_banner active"
          src="../images/banner_img.jpg"
          alt="banner"
        />
      </div>
      <div class="content">
        <h1>Giới thiệu về chúng tôi</h1>
        <p>
          Công ty TNHH Dịch Vụ Kỹ Thuật AutoServices là đơn vị tiên phong trong
          lĩnh vực rửa xe và sửa chữa ô tô tại nhà, mang đến giải pháp chăm sóc
          xe chuyên nghiệp - tiện lợi - nhanh chóng dành cho khách hàng tại khu
          vực Thành Phố Hồ Chí Minh. Sau nhiều ngày hình thành và phát triển,
          chúng tôi đã từng bước khẳng định vị thế trên thị trường dịch vụ ô tô,
          với hàng ngàn khách hàng tin tưởng sử dụng dịch vụ mỗi năm. Chúng tôi
          hoạt động với phương châm: “Phục vụ tận nơi - Chăm sóc tận tâm - An
          toàn trên mọi hành trình.”
        </p>
        <div class="infor_img">
          <img src="../images/infor1_img.jpg" alt="ảnh về trung tâm" />
        </div>
        <h1>Dịch vụ toàn diện - Chuyên nghiệp tại nhà</h1>
        <p>
          Chúng tôi cung cấp trọn gói các dịch vụ rửa và bảo dưỡng ô tô ngay tại
          nhà, bao gồm:
        </p>
        <ul>
          <li>Rửa xe tiêu chuẩn và rửa xe chi tiết nội - ngoại thất</li>
          <li>Thay dầu, lọc gió, lọc dầu, nước làm mát, bình ắc quy</li>
          <li>Kiểm tra hệ thống điện - điều hòa - phanh - lốp</li>
          <li>Cứu hộ và sửa chữa sự cố nhẹ tại chỗ</li>
          <li>
            Toàn bộ quy trình được thực hiện bởi đội ngũ kỹ thuật viên lành
            nghề, sử dụng máy móc chuyên dụng hiện đại, đảm bảo chất lượng dịch
            vụ ngang tầm với các garage tiêu chuẩn cao.
          </li>
        </ul>
        <p>
          Toàn bộ quy trình được thực hiện bởi đội ngũ kỹ thuật viên lành nghề,
          sử dụng máy móc chuyên dụng hiện đại, đảm bảo chất lượng dịch vụ ngang
          tầm với các garage tiêu chuẩn cao.
        </p>
        <div class="infor_img">
          <img src="../images/infor2_img.png" alt="ảnh về trung tâm" />
        </div>
        <h1>Công nghệ tiên tiến - Dẫn đầu xu hướng</h1>
        <p>
          Chúng tôi không ngừng cập nhật các công nghệ rửa xe không chạm, rửa
          bằng hơi nước nóng, cùng với thiết bị chẩn đoán xe thông minh để hỗ
          trợ phát hiện và xử lý các lỗi kỹ thuật một cách chính xác ngay tại
          nhà.<br />
          Ngoài ra, chúng tôi sử dụng các dòng hóa chất cao cấp và thân thiện
          với môi trường, đảm bảo an toàn cho người dùng, xe và bề mặt sơn xe.
        </p>
        <h1>Các chi nhánh</h1>
        <h3>Chi nhánh 1</h3>
        <ul>
          <li>
            <strong>Địa Chỉ</strong>: Số 25 ĐT743, Khu Phố Thống Nhất, Phường Dĩ
            An, TP. Dĩ An, Bình Dương
          </li>
          <li><strong>Điện Thoại</strong>: 0931.555.998</li>
        </ul>
        <p>
          Chi nhánh này của Thế Giới Vỏ Xe VNBG là một trong những điểm quan
          trọng trong hệ thống của chúng tôi.
        </p>
        <p>
          Nằm tại khu vực trung tâm Dĩ An, chi nhánh này có vị trí dễ dàng tiếp
          cận từ các tuyến đường chính, tạo thuận lợi cho khách hàng khi đến sử
          dụng dịch vụ.
        </p>
        <ul>
          <li><b>Đặc Điểm</b></li>
          <ul>
            <li>
              <b>Trung tâm phục vụ hiện đại</b>: Cung cấp các tiện nghi tốt nhất
              cho khách hàng.
            </li>
            <li>
              <b>Dịch vụ tư vấn nhanh chóng</b>: Đội ngũ nhân viên tận tâm và
              thân thiện, luôn sẵn sàng hỗ trợ khách hàng.
            </li>
            <li>
              <b>Đa dạng sản phẩm</b>: Cung cấp nhiều loại lốp từ các thương
              hiệu hàng đầu, phù hợp với mọi nhu cầu.
            </li>
          </ul>
        </ul>
        <hr />
        <h3>Chi nhánh 2</h3>
        <ul>
          <li>
            <strong>Địa Chỉ</strong>: Số 25 ĐT743, Khu Phố Thống Nhất, Phường Dĩ
            An, TP. Dĩ An, Bình Dương
          </li>
          <li><strong>Điện Thoại</strong>: 0931.555.998</li>
        </ul>
        <p>
          Chi nhánh 2 của Thế Giới Vỏ Xe VNBG tọa lạc tại Thuận An, một vị trí
          đắc địa với cơ sở vật chất hiện đại. Đây là điểm đến đáng tin cậy cho
          những chủ xe đang tìm kiếm sản phẩm lốp xe chất lượng và dịch vụ tận
          tình.
        </p>

        <ul>
          <li><b>Đặc Điểm</b></li>
          <ul>
            <li>
              <b>Vị trí thuận tiện</b>: Dễ dàng tiếp cận từ các tuyến đường
              chính.
            </li>
            <li>
              <b>Phong cách phục vụ chuyên nghiệp</b>: Đội ngũ nhân viên được
              đào tạo bài bản, luôn sẵn sàng hỗ trợ khách hàng.
            </li>
            <li>
              <b>Kho hàng đa dạng</b>: Lốp xe từ các thương hiệu nổi tiếng, đáp
              ứng nhu cầu của mọi khách hàng.
            </li>
          </ul>
        </ul>
      </div>
    </main>

    <footer>
      <div class="footer">
        <div class="footer-column">
          <h4>Về AutoServices</h4>
          <ul>
            <li><a href="/laptrinhweb/AutoServices/">Trang chủ</a></li>
            <li>
              <a href="/laptrinhweb/AutoServices/app/views/html/about.html"
                >Giới thiệu</a
              >
            </li>
            <li>
              <a href="/laptrinhweb/AutoServices/app/views/html/services.html"
                >Dịch vụ</a
              >
            </li>
            <li>
              <a href="/laptrinhweb/AutoServices/app/views/html/products.html"
                >Sản phẩm</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Dịch vụ</h4>
          <ul>
            <li><a href="#">Lốp oto</a></li>
            <li><a href="#">Ac quy</a></li>
            <li><a href="#">Bảo dưỡng - Sửa chữa</a></li>
            <li><a href="#">Chăm sóc xe</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>Địa chỉ liên hệ</h4>
          <ul>
            <li>70 Đ. Tô Ký, Tân Chánh Hiệp, Quận 12, Hồ Chí Minh, Việt Nam</li>
          </ul>
          <div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2946148745123!2d106.61381087415717!3d10.865181857552134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752b2a11844fb9%3A0xbed3d5f0a6d6e0fe!2zVFLGr-G7nE5HIMSQ4bqgSSBI4buMQyBHSUFPIFRIw5RORyBW4bqsTiBU4bqiSSBUUC5IQ00gW0PGoCBT4bueIDNd!5e0!3m2!1sen!2s!4v1751443947330!5m2!1sen!2s"
            ></iframe>
          </div>
        </div>
      </div>
      <div class="footer-info">
        <h3><a href="https://ducnm2412.github.io/MyTeam/"></a>CN2301C-Team4</h3>
      </div>
    </footer>
    <script src="../js/about.js"></script>
  </body>
</html>
