<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoServices</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/breakpoint.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="nav-bg">
      <div class="btn-close">
        <i class="ri-close-circle-line"></i>
      </div>
      <ul>
        <li><a href="../html/serviceManage.html">Dịch vụ</a></li>
        <li><a href="../html/partManage.html">Phụ tùng</a></li>
        <li><a href="">Đơn hàng</a></li>
        <li><a href="">Phản hồi</a></li>
        <li><a href="">Liên hệ</a></li>
      </ul>
    </nav>
    <header>
      <div class="header">
        <div class="logo">
          <img src="../images/logo-Photoroom.png" alt="logo" />
          <p>Auto<span>Services</span></p>
        </div>
        <div class="navbar">
          <nav>
            <ul>
              <li><a href="../html/serviceManage.html">Dịch vụ</a></li>
              <li><a href="../html/partManage.html">Phụ tùng</a></li>
              <li><a href="">Đơn hàng</a></li>
              <li><a href="">Phản hồi</a></li>
              <li><a href="">Liên hệ</a></li>
            </ul>
          </nav>
        </div>
        <div class="account">
          <div class="btn-account">
            <button>
              <a href=""><i class="bx bx-user-circle"></i></a>
            </button>
          </div>
          <div class="btn-menu">
            <button><i class="ri-menu-line"></i></button>
          </div>
        </div>
      </div>
    </header>
    <div class="slider-home">
      <div class="list">
        <div class="item" id="item1">
          <div class="box-1">
            <h1>
              Dịch vụ bảo dưỡng xe <br />
              Auto<span class="simple-text"></span>
            </h1>
          </div>
          <div class="box-2">
            <img <img src="../images/autoservice-Photoroom.png" alt="" />
            alt="" />
          </div>
        </div>
        <div class="item" id="item2">
          <div class="box-1">
            <h1>
              Dịch vụ bảo dưỡng xe <br />
              Auto<span class="simple-text"></span>
            </h1>
          </div>
          <div class="box-2">
            <img src="../images/blu.png" alt="" />
          </div>
        </div>
        <div class="item" id="item3">
          <div class="box-1">
            <h1>
              Dịch vụ bảo dưỡng xe <br />
              Auto<span class="simple-text"></span>
            </h1>
          </div>
          <div class="box-2">
            <img <img src="../images/yelow-removebg-preview.png" alt="" />
            alt="" />
          </div>
        </div>
      </div>
      <div class="btn-prev-next">
        <button id="prev"><i class="ri-arrow-left-s-fill"></i></button>
        <button id="next"><i class="ri-arrow-right-s-fill"></i></button>
      </div>
      <div class="dots">
        <li class="active"></li>
        <li></li>
        <li></li>
      </div>
    </div>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>
