<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoServices</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/app/views/css/cart.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <div class="logo">
          <img src="/app/views/images/logo-Photoroom.png" alt="logo" />
          <p>Auto<span>Services</span></p>
        </div>
        <div class="navbar">
          <nav>
            <ul>
              <li><a href="">Trang chủ</a></li>
              <li><a href="">Giới thiệu</a></li>
              <li><a href="">Dịch vụ</a></li>
              <li><a href="">Sản phẩm</a></li>
            </ul>
          </nav>
        </div>
        <div class="account">
          <div class="btn-account">
            <button><i class="bx bx-user-circle"></i></button>
          </div>
          <div class="btn-cart">
            <button><i class="bx bx-cart"></i></button>
          </div>
          <div class="btn-menu">
            <button><i class="ri-menu-line"></i></button>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section>
        <div class="head">
          <h3>AutoServices luôn đồng hành cùng bạn trên mọi con đường</h3>
        </div>
        <div class="container">
          <div class="head-container">
            <i class="ri-arrow-left-line"></i>
            <h3>Giỏ hàng của bạn</h3>
          </div>
          <div class="cart-container">
            <div class="cart-item">
              <div class="checkbox"><input type="checkbox" /></div>
              <img src="/app/views/images/acquy.jpg" alt="Hoa chân móc" />
              <div class="item-info">
                <div class="title">
                  Hoa Chân Móc Bộ Phụ Kiện Thủ Công Đa Năng...
                </div>
                <div class="price-group">
                  <span class="new-price">182.600₫</span>
                </div>
              </div>
              <div class="quantity-control">
                <button><i class="ri-subtract-line"></i></button>
                <input type="text" value="1" />
                <button><i class="ri-add-fill"></i></button>
              </div>
              <div class="actions"><button>Xóa</button></div>
            </div>
            <div class="cart-item">
              <div class="checkbox"><input type="checkbox" /></div>
              <img src="/app/views/images/acquy.jpg" alt="Hoa chân móc" />
              <div class="item-info">
                <div class="title">
                  Hoa Chân Móc Bộ Phụ Kiện Thủ Công Đa Năng...
                </div>
                <div class="price-group">
                  <span class="new-price">182.600₫</span>
                </div>
              </div>
              <div class="quantity-control">
                <button><i class="ri-subtract-line"></i></button>
                <input type="text" value="1" />
                <button><i class="ri-add-fill"></i></button>
              </div>
              <div class="actions"><button>Xóa</button></div>
            </div>
            <div class="cart-item">
              <div class="checkbox"><input type="checkbox" /></div>
              <img src="/app/views/images/acquy.jpg" alt="Hoa chân móc" />
              <div class="item-info">
                <div class="title">
                  Hoa Chân Móc Bộ Phụ Kiện Thủ Công Đa Năng...
                </div>
                <div class="price-group">
                  <span class="new-price">182.600₫</span>
                </div>
              </div>
              <div class="quantity-control">
                <button><i class="ri-subtract-line"></i></button>
                <input type="text" value="1" />
                <button><i class="ri-add-fill"></i></button>
              </div>
              <div class="actions"><button>Xóa</button></div>
            </div>
            <div class="cart-item">
              <div class="checkbox"><input type="checkbox" /></div>
              <img src="/app/views/images/acquy.jpg" alt="Hoa chân móc" />
              <div class="item-info">
                <div class="title">
                  Hoa Chân Móc Bộ Phụ Kiện Thủ Công Đa Năng...
                </div>
                <div class="price-group">
                  <span class="new-price">182.600₫</span>
                </div>
              </div>
              <div class="quantity-control">
                <button><i class="ri-subtract-line"></i></button>
                <input type="text" value="1" />
                <button><i class="ri-add-fill"></i></button>
              </div>
              <div class="actions"><button>Xóa</button></div>
            </div>
            <div class="cart-item">
              <div class="checkbox"><input type="checkbox" /></div>
              <img src="/app/views/images/acquy.jpg" alt="Hoa chân móc" />
              <div class="item-info">
                <div class="title">
                  Hoa Chân Móc Bộ Phụ Kiện Thủ Công Đa Năng...
                </div>
                <div class="price-group">
                  <span class="new-price">182.600₫</span>
                </div>
              </div>
              <div class="quantity-control">
                <button><i class="ri-subtract-line"></i></button>
                <input type="text" value="1" />
                <button><i class="ri-add-fill"></i></button>
              </div>
              <div class="actions"><button>Xóa</button></div>
            </div>
            <div class="cart-item">
              <div class="checkbox"><input type="checkbox" /></div>
              <img src="/app/views/images/acquy.jpg" alt="Hoa chân móc" />
              <div class="item-info">
                <div class="title">
                  Hoa Chân Móc Bộ Phụ Kiện Thủ Công Đa Năng...
                </div>
                <div class="price-group">
                  <span class="new-price">182.600₫</span>
                </div>
              </div>
              <div class="quantity-control">
                <button><i class="ri-subtract-line"></i></button>
                <input type="text" value="1" />
                <button><i class="ri-add-fill"></i></button>
              </div>
              <div class="actions"><button>Xóa</button></div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="sum">
          <div class="summary">
            <div>
              Tổng cộng (0 Sản phẩm): <span class="total-price">0₫</span>
            </div>
            <button class="buy-button">Mua Hàng</button>
          </div>
        </div>
      </section>
      <section class="modal">
        <div class="modal-container">
          <header>
            <dv class="modal-header">
              <h1>Đơn hàng của bạn</h1>
            </dv>
            <div class="btn-close">
              <i class="ri-close-circle-line"></i>
            </div>
          </header>
          <duv class="modal-body">
            <div class="modal-contact">
              <h3>Họ và tên: a</h3>
              <h3>Sô điện thoại; abc </h3>
              <h3>Địa chỉ : abcxyz</h3>
            </div>
          </duv>
        </div>
      </section>
    </main>
  </body>
</html>
