<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Quản lý Liên hệ Khách hàng</title>
    <link rel="stylesheet" href="../css/contractAdmin.css" />
  </head>
  <body>
    <h1>Liên hệ Khách hàng</h1>
    <table>
      <thead>
        <tr>
          <th>Mã liên hệ</th>
          <th>Tên</th>
          <th>SĐT</th>
          <th>Email</th>
          <th>Dịch vụ</th>
          <th>Nội dung</th>
          <th>Ngày tạo</th>
          <th>Trả lời</th>
        </tr>
      </thead>
      <tbody id="contactTableBody"></tbody>
    </table>
    <script src="../js/contractAdmin.js"></script>
  </body>
</html>
