<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Quản lý Liên hệ Khách hàng</title>
    <link rel="stylesheet" href="../css/contractAdmin.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div style="position: relative">
      <a
        class="arrow_back"
        style="
          padding: 12px;
          position: absolute;
          margin-left: 3rem;
          margin-left: 3rem;
          background: #e74c3c;
          color: #fff;
          border: none;
          border-radius: 6px;
          cursor: pointer;
          transition: background 0.2s;
          text-decoration: none;
        "
        href="../html/admin.html"
      >
        <i class="ri-arrow-left-circle-line" style="font-size: 24px"></i>
      </a>
      <h1>Quản lý Liên hệ Khách hàng</h1>
    </div>
    <table>
      <thead>
        <tr>
          <th>Mã liên hệ</th>
          <th>Tên</th>
          <th>SĐT</th>
          <th>Email</th>
          <th>Dịch vụ</th>
          <th>Nội dung</th>
          <th>Ngày tạo</th>
          <th>Trả lời</th>
        </tr>
      </thead>
      <tbody id="contactTableBody"></tbody>
    </table>
    <script src="../js/contractAdmin.js"></script>
  </body>
</html>
