<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Quản lý Phản hồi Khách hàng</title>
    <link rel="stylesheet" href="../css/feedbackAdmin.css" />
  </head>
  <body>
    <h1>Phản hồi Khách hàng</h1>
    <table>
      <thead>
        <tr>
          <th>Mã phản hồi</th>
          <th>Tên khách hàng</th>
          <th>Email</th>
          <th>Nội dung</th>
          <th>Đánh giá</th>
          <th>Ngày gửi</th>
        </tr>
      </thead>
      <tbody id="feedbackTableBody"></tbody>
    </table>
    <script src="../js/feedbackAdmin.js"></script>
  </body>
</html>
