<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Quản lý Phản hồi Khách hàng</title>
    <link rel="stylesheet" href="../css/feedbackAdmin.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div style="position: relative">
      <a
        class="arrow_back"
        style="
          padding: 12px;
          position: absolute;
          margin-left: 3rem;
          background: #e74c3c;
          color: #fff;
          border: none;
          border-radius: 6px;
          cursor: pointer;
          transition: background 0.2s;
          text-decoration: none;
        "
        href="../html/admin.html"
      >
        <i class="ri-arrow-left-circle-line" style="font-size: 24px"></i>
      </a>
      <h1>Quản lý phản hồi của khách hàng</h1>
    </div>
    <table>
      <thead>
        <tr>
          <th>Mã phản hồi</th>
          <th>Tên khách hàng</th>
          <th>Email</th>
          <th>Nội dung</th>
          <th>Đánh giá</th>
          <th>Ngày gửi</th>
        </tr>
      </thead>
      <tbody id="feedbackTableBody"></tbody>
    </table>
    <script src="../js/feedbackAdmin.js"></script>
  </body>
</html>
