<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Chi tiết Đơn hàng</title>
    <link rel="stylesheet" href="../css/orderDetail.css" />
  </head>
  <body>
    <h1>Chi tiết Đơn hàng</h1>
    <div id="orderInfo"></div>
    <h2>Danh sách sản phẩm/dịch vụ</h2>
    <table>
      <thead>
        <tr>
          <th>Tên</th>
          <th>Loại</th>
          <th>Số lượng</th>
          <th>Đơn giá</th>
          <th>Thành tiền</th>
        </tr>
      </thead>
      <tbody id="orderDetailBody"></tbody>
    </table>
    <div id="orderTotal" style="margin-top: 20px; font-weight: bold"></div>
    <script src="../js/orderDetail.js"></script>
  </body>
</html>
