<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Quản lý Phụ tùng</title>
    <link rel="stylesheet" href="../css/partManage.css" />
  </head>
  <body>
    <h1>Quản lý Phụ tùng</h1>
    <form id="partForm">
      <input type="hidden" id="partID" name="partID" />
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Tên phụ tùng"
        required
      />
      <input type="number" id="price" name="price" placeholder="Giá" required />
      <input
        type="number"
        id="quantity"
        name="quantity"
        placeholder="Số lượng"
        required
      />
      <input
        type="text"
        id="images"
        name="images"
        placeholder="Link ảnh"
        required
      />
      <input
        type="text"
        id="categoryID"
        name="categoryID"
        placeholder="Mã loại phụ tùng"
        required
      />
      <button type="submit" id="saveBtn">Thêm</button>
      <button type="button" onclick="resetForm()">Hủy</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Mã phụ tùng</th>
          <th>Tên</th>
          <th>Giá</th>
          <th>Số lượng</th>
          <th>Ảnh</th>
          <th>Mã loại</th>
        </tr>
      </thead>
      <tbody id="partTableBody"></tbody>
    </table>
    <script src="../js/partManage.js"></script>
  </body>
</html>
