<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hồ Sơ</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/profile.css" />
    <link rel="stylesheet" id="page-style" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <img src="../images/profile_avatar.jpg" alt="Ảnh đại diện" />
        <h3 id="userName"></h3>
        <p id="userRole"></p>
        <ul>
          <li><a href="/laptrinhweb/AutoServices/index.html">Trang chủ</a></li>
          <li><a href="#" onclick="loadPage('infor')">Thông tin cá nhân</a></li>
          <li>
            <a href="#" onclick="loadPage('orderHistory')">Lịch sử đơn hàng</a>
          </li>

          <li><a href="#" onclick="loadPage('feedback')">Đánh Giá</a></li>
          <li><a href="#logout">Đăng xuất</a></li>
        </ul>
      </div>
      <div class="section">
        <div id="main-content"></div>
      </div>
    </div>
    <script src="../js/profile.js"></script>
    <script src="../js/feedback.js"></script>
    <script src="../js/infor.js"></script>
    <script src="../js/orderHistory.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
