<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hồ Sơ </title>
    <link rel="stylesheet" href="../css/profile.css">
    
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <img src="../images/profile_avatar.jpg" alt="Ảnh đại diện">
            <h3>Tiệm Sửa Xe Minh</h3>
            <p>Nhân viên sửa chữa</p>
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Thông tin cá nhân</a></li>
                <li><a href="#">Lịch sử sửa chữa</a></li>
                <li><a href="#">Đơn hàng</a> </li>
                <li><a href="#">Đánh Giá</a></li>
                <li><a href="#">Đăng xuất</a></li>
            </ul>
        </div>
        <div class="section">
            <div class="content">
                <h2>Thông Tin Cá Nhân</h2>
                <div class="form-group">
                    <label for="fullName">Họ và Tên:</label>
                    <span class="info-field" id="fullName">Nguyen Van A</span>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <span class="info-field" id="email">vana@example.com</span>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Số điện thoại:</label>
                    <span class="info-field" id="phoneNumber">123</span>
                </div>
                <div class="form-group">
                    <label for="address">Địa chỉ:</label>
                    <span class="info-field" id="address">123</span>
                </div>
            </div>
            
        </div>
    </div>
    <!-- <footer>
        <div class="footer1"><h2>TRUNG TÂM SỬA VÀ RỬA XE Ô TÔ SERVICE CAR</h2></div>
        <div class="footer2">
            <div class="address">
                <h2>SERVICE CAR THẠNH LỘC</h2>
                <ul>
                    <li><i class="fa-solid fa-location-dot"></i> Địa Chỉ: SỐ 217/16 Thạnh Lộc, Q12, Hồ Chí Minh</li>
                    <li><i class="fa-solid fa-phone"></i> Tel: 0397412***</li>
                    <li><i class="fa-solid fa-mobile-screen"></i>Mobile: 0397412*** - Ms. Thức</li>
                </ul>
            </div>
            <div class="address">
                <h2>SERVICE CAR THẠNH LỘC</h2>
                <ul>
                    <li><i class="fa-solid fa-location-dot"></i> Địa Chỉ: SỐ 217/16 Thạnh Lộc, Q12, Hồ Chí Minh</li>
                    <li><i class="fa-solid fa-phone"></i> Tel: 0397412***</li>
                    <li><i class="fa-solid fa-mobile-screen"></i>Mobile: 0397412*** - Ms. Thức</li>
                </ul>
            </div>
        </div>
        <div class="footer3">
            <p>Copyright © 2025 Bản quyền thuộc về CÔNG TY TNHH THƯƠNG MẠI SERVICE CAR</p>
            <div class="contact_icon">
                <a href="https://www.facebook.com/hthuc961" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/_hthuc12/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" target="_blank" title="Youtube"><i class="fa-brands fa-youtube"></i></a>
                <a href="mailto:hthuc961@gmail.com" title="Email"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </footer> -->
</body>
</html>