<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Quản lý Dịch vụ</title>
    <link rel="stylesheet" href="../css/serviceManage.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div style="position: relative">
      <button
        class="arrow_back"
        style="padding: 12px; position: absolute; margin-left: 4rem"
      >
        <a href="../html/admin.html" style="text-decoration: none; color: #fff"
          ><i class="ri-arrow-left-circle-line" style="font-size: 24px"></i
        ></a>
      </button>
      <h1>Quản lý Dịch vụ</h1>
    </div>
    <form id="serviceForm">
      <input type="hidden" id="serviceID" name="serviceID" />
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Tên dịch vụ"
        required
      />
      <input type="number" id="price" name="price" placeholder="Giá" required />
      <input
        type="text"
        id="description"
        name="description"
        placeholder="Mô tả"
        required
      />
      <input
        type="text"
        id="categoryID"
        name="categoryID"
        placeholder="Mã loại dịch vụ"
        required
      />
      <button type="submit" id="saveBtn">Thêm</button>
      <button type="button" onclick="resetForm()">Hủy</button>
    </form>

    <!-- Bảng danh sách dịch vụ -->
    <table>
      <thead>
        <tr>
          <th>Mã dịch vụ</th>
          <th>Tên</th>
          <th>Giá</th>
          <th>Mô tả</th>
          <th>Mã loại</th>
          <th>Hành Động</th>
        </tr>
      </thead>
      <tbody id="serviceTableBody">
        <!-- Dữ liệu sẽ được render ở đây -->
      </tbody>
    </table>

    <script src="../js/serviceManage.js"></script>
  </body>
</html>
